body {
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #000000;
    line-height: 26px;
}

/*=================================
=            $Elements            =
=================================*/

h2 { font-size: 21px; }

/*=====  End of $Elements  ======*/





/*================================================
=            $Objects and abstraction            =
================================================*/
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.container {
    min-width: 768px;
    max-width: 1200px;
    margin: 0 auto;

    /* Только для оформления сетки */
    outline: 2px solid green;
}

.pull-left { float: left !important; }

.pull-right { float: right !important; }
/*=====  End of $Objects and abstraction  ======*/





/*===============================
=            $Header            =
===============================*/
.main-navigation {
    padding: 0 6%;

    /* Только для оформления сетки */
    min-height: 55px;
    outline: 2px solid crimson;
}

.main-navigation li {
    width: 20%;
    outline: 1px solid blue;
}

.main-navigation li:first-child,
.main-navigation li:nth-child(2) {
    float: left;
}

.main-navigation li:last-child,
.main-navigation li:nth-last-child(2) {
    float: right;
}
/*=====  End of $Header  ======*/





/*======================================
=            $Index Content            =
======================================*/
.index-logo {
    height: 445px;
    padding-top: 65px;
    text-align: center;
    background-color: #81b3d2;
    outline: 2px solid orange;
}

.dignity-title {
    /* Только для оформления сетки */
    min-height: 215px;
    outline: 2px solid crimson;
}

.dignity-container {
    /* Только для оформления сетки */
    min-height: 255px;
    outline: 2px solid orange;
}

.dignity-item {
    float: left;
    width: 33%;
    height: 255px;
    outline: 1px solid yellow;
}

.dignity-foto {
    width: 67%;
    height: 255px;
    text-indent: -9000px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100%;
    outline: 2px solid blue;
}

.dignity-foto.pull-right { background-image: url(../img/dignity-1.jpg); }

.dignity-foto.pull-left { background-image: url(../img/dignity-2.jpg); }

.features-item {
    float: left;
    width: 33%;
    min-height: 330px;
    outline: 1px solid violet;
}

.hotel-search {
    height: 290px;
}

#map-canvas {
    width: 100%;
    height: 470px;
    text-indent: -9000px;
}
/*=====  End of $Index Content  ======*/





/*=======================================
=            $Hotels Content            =
=======================================*/
.filters {
    padding: 0 6%;
    height: 220px;
    background: url(../img/hotel-bg.jpg) no-repeat 50% 50%;
    background-size: 100%;
    outline: 2px solid orange;
}

.filter-item {
    float: left;
    width: 30%;
}

.hotels { padding: 0 6%; }

.hotels-sorting {
    /* Только для оформления сетки */
    outline: 2px solid crimson;
}

.found,
.hotel-item img {
    float: left;
    width: 135px;
    min-height: 85px;
    margin-right: 30px;
    outline: 2px solid green;
}

.sorting {
    min-height: 85px;
    outline: 2px solid green;
}

.hotel-item {
    min-height: 150px;
    outline: 2px solid crimson;
}

.hotel-info {
    float: left;
}

.hotel-rating {
    float: right;
}
/*=====  End of $Hotels Content  ======*/





/*===============================
=            $Footer            =
===============================*/
.footer-contacts,
.footer-social,
.footer-copyright {
    float: left;
    width: 33%;
    height: 120px;
    outline: 1px solid violet;
}
/*=====  End of $Footer  ======*/