body {
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #000000;
    line-height: 26px;
}

h2 { font-size: 21px; }

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.container {
    min-width: 768px;
    max-width: 1200px;
    margin: 0 auto;

    /* Только для оформления сетки */
    outline: 2px solid green;
}

.pull-left { float: left !important; }

.pull-right { float: right !important; }

.main-navigation {
    padding: 0 6%;

    /* Только для оформления сетки */
    min-height: 55px;
    outline: 2px solid crimson;
}

.main-navigation li {
    width: 20%;
    outline: 1px solid blue;
}

.main-navigation li:first-child,
.main-navigation li:nth-child(2) {
    float: left;
}

.main-navigation li:last-child,
.main-navigation li:nth-last-child(2) {
    float: right;
}

.index-logo {
    height: 445px;
    padding-top: 65px;
    text-align: center;
    background-color: #81b3d2;
    outline: 2px solid orange;
}

.dignity-title {
    /* Только для оформления сетки */
    min-height: 215px;
    outline: 2px solid crimson;
}

.dignity-container {
    /* Только для оформления сетки */
    min-height: 255px;
    outline: 2px solid orange;
}

.dignity-item {
    width: 33%;
}

.dignity-foto {
    width: 67%;
}