body {
    min-width: 768px;
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #333333;
    line-height: 21px;
    text-transform: uppercase;
    background-color: #f2f2f2;
}

/*=================================
=            $Elements            =
=================================*/

h2 { font-size: 21px; }

/*=====  End of $Elements  ======*/





/*================================================
=            $Objects and abstraction            =
================================================*/
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.container {
    min-width: 768px;
    max-width: 1200px;
    margin: 0 auto;
    -webkit-box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
            box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
    /* outline: 1px solid green; */
}

.pull-left { float: left !important; }

.pull-right { float: right !important; }
/*=====  End of $Objects and abstraction  ======*/





/*===============================
=            $Header            =
===============================*/
.main-header { background-color: #ffffff; }

.main-navigation {
    position: relative;
    padding: 16px 6%;
}

.main-navigation .logo {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -69px;
    z-index: 1;
}

.main-navigation .logo img {
    width: 138px;
    height: 70px;
}

.main-navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-navigation li { width: 20%; }

.main-navigation li:first-child,
.main-navigation li:nth-child(2) {
    float: left;
    text-align: left;
}

.main-navigation li:last-child,
.main-navigation li:nth-last-child(2) {
    float: right;
    text-align: right;
}

.main-navigation a {
    font: 700 14px 'PT Sans';
    color: #000000;
    line-height: 26px;
    text-decoration: none;
    transition: color 0.5s;
}

.main-navigation a:hover { color: #81b3d2; }

.main-navigation a:active { color: rgba(0, 0, 0, 0.3); }

.main-navigation .active,
.main-navigation .active:active { color: #766357; }

.main-navigation .active:hover { color: #604e43; }
/*=====  End of $Header  ======*/





/*======================================
=            $Index Content            =
======================================*/
.index-logo {
    position: relative;
    height: 510px;
    padding-top: 75px;
    text-align: center;
    background: #81b3d2 url('../img/index-bg.jpg') no-repeat top center;
    background-size: cover;
}

.index-logo img {
    width: 458px;
    height: 352px;
}

.index-logo::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
    background: url('../img/polyhedra.png') no-repeat bottom left;
    background-size: 100%;
}

.dignity-title {
    padding: 54px 0 50px;
    text-align: center;
    background-color: #ffffff;
}

.dignity-title h2 {
    width: 52%;
    margin: 0 auto 30px;
    font-weight: 700;
    line-height: 26px;
    color: #000000;
}

.dignity-title p { line-height: 26px; }

.dignity-title p:last-child { margin-bottom: 0; }

.dignity-container {
    /* Только для оформления сетки */
    min-height: 255px;
    outline: 2px solid orange;
}

.dignity-item {
    float: left;
    width: 33%;
    height: 255px;
    outline: 1px solid yellow;
}

.dignity-foto {
    width: 67%;
    height: 255px;
    font-size: 0;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100%;
    outline: 2px solid blue;
}

.dignity-foto.pull-right { background-image: url(../img/dignity-1.jpg); }

.dignity-foto.pull-left { background-image: url(../img/dignity-2.jpg); }

.features-item {
    float: left;
    width: 33%;
    min-height: 330px;
    outline: 1px solid violet;
}

.hotel-search {
    height: 290px;
}

#map-canvas {
    width: 100%;
    height: 470px;
    text-indent: -9000px;
}
/*=====  End of $Index Content  ======*/





/*=======================================
=            $Hotels Content            =
=======================================*/
.filters {
    padding: 0 6%;
    height: 220px;
    background: url(../img/hotel-bg.jpg) no-repeat 50% 50%;
    background-size: 100%;
    outline: 2px solid orange;
}

.filter-item {
    float: left;
    width: 30%;
}

.hotels { padding: 0 6%; }

.hotels-sorting {
    /* Только для оформления сетки */
    outline: 2px solid crimson;
}

.found,
.hotel-item img {
    float: left;
    width: 135px;
    min-height: 85px;
    margin-right: 30px;
    outline: 2px solid green;
}

.sorting {
    min-height: 85px;
    outline: 2px solid green;
}

.hotel-item {
    min-height: 150px;
    outline: 2px solid crimson;
}

.hotel-info {
    float: left;
}

.hotel-rating {
    float: right;
}
/*=====  End of $Hotels Content  ======*/





/*===============================
=            $Footer            =
===============================*/
.footer-contacts,
.footer-social,
.footer-copyright {
    float: left;
    width: 33%;
    height: 120px;
    outline: 1px solid violet;
}
/*=====  End of $Footer  ======*/